.directBtn{
    width: 178px;
}
.directForm{
    border-radius: 20px;
    border-color: #1C1A15;
    background-color: #dee2e6;
    padding: 20px;
}
.directFont{
    font-family: 'Muli', sans-serif;
}

.tituloTabla{
	border: 2px solid #000000;
	border-radius: 15px;
	text-align: center;
}

ul li{
	list-style: none;
}

.error{
	color: green;
}
.sinColor{
	color: inherit;
}